/target
.DS_Store
.idea/
.vscode/
*.swp
.ci-logs/
.dart_tool/
app/flutter/build/
app/flutter/.dart_tool/
app/flutter/ephemeral/
*.log
*.so
*.dylib
*.dll
*.exe
**/jniLibs/
.gradle/
**/local.properties
*.apk
*.apk.sha256
